@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components

<Router AppAssembly="@typeof(BlazorApp).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="@typeof(expensetracker.Components.Layout.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(expensetracker.Components.Layout.MainLayout)">
            <p>Page not found.</p>
        </LayoutView>
    </NotFound>
</Router>
